@charset 'utf-8';

html, body {
    margin: 0;
    padding: 0;
}

.main-heading {
    margin: 2rem auto auto auto;
    color: red;
}

.welcome-message {
    margin: 2rem auto auto auto;
    color: blue;
}